main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 10px 0px; */
    justify-content: center;
    flex: 1;
}

main > * {
    padding: 10px;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form > *{
    padding: 2px;
}

#login-form :nth-child(3) {
    margin-top: 10px;
}

#login-buttons button {
    margin: 0 5px;
}

img {
    /* I cannot get the image to look right */
    /* why is css like this... */
    max-width: 100%;
    /* min-width: 40%; */
    max-height: 50vh;
    height: auto;
}