* {
    margin: 0;
}

.body {
    font-family: sans-serif;
    margin: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

header {
    flex: 0 30px;
    background: #253F8C;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header * {
    margin: 10px 10px;
    color: white;
}

footer {
    flex: 0 20px;
    background: #272727;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer * {
    padding:10px;
    font-size: small;
    color:white;
}

button {
    font-size: large;
    font-weight: bold;
    color: white;
    background: #253F8C;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:disabled {
    background: rgb(85, 85, 85);
    cursor: auto;
}

@media (max-width: 400px) {
    header h1 {
        display: none;
    }
    header {
        justify-content: space-evenly;
    }
}