body {
    font-family: sans-serif;
    margin: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

header {
    flex: 0 30px;
    background: #253F8C;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header * {
    margin: 10px 10px;
    color: white;
}

main {
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
    justify-content: space-evenly;
    flex: 1;
}

.list {
    background: #a9a9a9;
    width: 40%;
    border: 2px solid black;
    padding: 0 10px;
    border-radius: 5px;
    margin: 0 0px;
}

footer {
    flex: 0 20px;
    background: #272727;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer * {
    padding:10px;
    font-size: small;
    color:white;
}

.add-button {
    display: inline;
    display: none;
    margin: 0 20px;
}

.add-button button {
    font-size: large;
    font-weight: bold;
    color: white;
    background: #253F8C;
    border: none;
    border-radius: 3px;
}

/* .add-button button:hover {
} */

.can-add:hover .add-button {
    display: inline;
}

.small-menu {
    display: none;
}

@media (max-width: 450px){
    #todo {
        display: none;
    }
    #today {
        width: 80%
    }
}

@media (max-width: 500px) {
    .small-menu {
        display: block;
    }
    .menu {
        display: none;
    }
}

@media (max-width: 350px) {
    header h1 {
        display: none;
    }
    header {
        justify-content: space-evenly;
    }
}
